:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --hero-text-color: #e5e5e5;
  --accent-text-color: #2196f3;
  --primary-bg-color: white;
  --secondary-bg-color: #2f303a;
}

.body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue {
  color: var(--accent-text-color);
}

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link .carrent {
  color: var(--accent-text-color);
}

.auth-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}
.auth-nav.link .carrent {
  color: var(--accent-text-color);
}
.section-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*features*/

.features-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.title-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Buttons*/

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.button.primary {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}
.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button.secondary :hover,
.button.secondary :focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
}

.footer {
  background-color: var(--secondary-bg-color);
}

.adress .text {
  color: var(--hero-text-color);
}
.adress {
  color: var(--hero-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress .logo {
  color: var(--accent-text-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.white {
  color: var(--hero-text-color);
}

.adress .link {
  color: var(--title-text-color);
}
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-text-color);
}
.adress .link .carrent {
  color: var(--accent-text-color);
}
.subject {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.subject .text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
