:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --hero-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-bg-color: white;
  --secondary-bg-color: #2f303a;
  --our-team-bg-color: #f5f4fa;
}

.conteiner {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  display: inline-block;
  background: #ffffff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  outline: 2px solid tomato;
}

.link,
a,
h2,
p {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.logo {
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text-blue {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-text-white {
  color: var(--primary-bg-color);
}

.hero {
  background-color: var(--secondary-bg-color);
  width: 1600px;
  left: 0px;
  top: 80px;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 0px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.link-current {
  color: var(--accent-text-color);
}

/* Ctrl + / */

.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.section-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.img {
  background-color: var(--primary-bg-color);
}
/*features*/

.features-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-our-team {
  background: var(--our-team-bg-color);
}
.our-team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title-text {
  color: var(--primary-text-color);
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Buttons*/

.button:hover,
.button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}
.current {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}

.button.primary {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer {
  background-color: var(--secondary-bg-color);
}

.adress {
  color: var(--hero-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress .logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-text-white {
  color: var(--hero-text-color);
}

.link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.subject {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.subject-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
